<html>
    <head>
        <title>Funitect: Be the architect of fun !</title>
        <link rel="stylesheet" media="screen" href="/front/css/jquery-ui.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/front/css/markdown-style.css">
        <link rel="stylesheet" type="text/css" href="/front/css/style.css">
        <script src="/front/lib/jquery.js"></script>
        <script src="/front/lib/require.js"></script>
        <script>
            require(['/front/app.js'], function(app) {
                app.config = {
                    modules: [
                        {% for module in modules %}
                            '{{module}}',
                        {% endfor %}
                    ],
                    templates: [
                        {% for template in templates %}
                            '{{template}}',
                        {% endfor %}
                    ],
                };
                app.load();
            });
        </script>
    </head>
</html>
